# Supabase Configuration
VITE_SUPABASE_URL=https://pnqhrjyygjyocwrdojeh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBucWhyanl5Z2p5b2N3cmRvamVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5OTM1NTEsImV4cCI6MjA2OTU2OTU1MX0.19UY5iGwgsSfgXKXiG5MGVop5EjSFRlpMKDMoO2xqP0




# API Configuration
VITE_API_URL=http://localhost:8000 
